@use"../scss/variables" as *;

.error__page{
    color: var(--red);
    text-align: center;
    h1{
        font-size: 10rem;
        margin-bottom: 0.5em;
    }
    h2{
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 5em;
    }
    a {
        color: var(--red);
    }
}