.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem; /* Augmentez la marge supérieure (10px) pour ajouter de l'espace au-dessus */
    color: var(--red);
    font-weight: 500;
  }
  
  .navbar-logo img {
    max-width: 100px;
    height: auto;
  }
  
  .navbar-links {
    display: flex; /* Affiche les éléments "Accueil" et "À propos" côte à côte */
  }
  
  .navbar-links div {
    margin-right: 2rem; /* Ajoutez de la marge entre les éléments "Accueil" et "À propos" */
  }