.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem; 
    color: var(--red);
    font-weight: 500;
    & a {
      text-decoration: none;
      color: var(--red);
      &:hover,
      &.active {
        text-decoration: underline;
      }
    }
}
  
  .navbar-logo img {
    max-width: 100px;
    height: auto;
  }
  
  .navbar-links {
    display: flex; 
      
  & div {
    margin-right: 2rem; 
  }
  }
